In [1]:
import requests, zipfile, io,glob,shutil
from pathlib import Path
from sklearn.preprocessing import LabelEncoder
from pprint import pprint
from collections import OrderedDict

import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('1_cleaned_Data.csv')

In [3]:
Runs_off_Bat_6_overs = df.groupby(['match_id','venue','innings','batting_team','bowling_team'])['runs_off_bat'].sum()
Extras_6_overs       = df.groupby(['match_id','venue','innings','batting_team','bowling_team'])['extras'].sum()
TotalScore_6_overs   = df.groupby(['match_id','venue','innings','batting_team','bowling_team'])['Total_score'].sum()

Total_WktsDown      = df.groupby(['match_id','venue','innings','batting_team','bowling_team'])['player_dismissed'].count()

In [4]:
bat_df   = df.groupby(['match_id','venue','innings','batting_team','bowling_team'])['batsmen'].apply(list)
bow_df   = df.groupby(['match_id','venue','innings','batting_team','bowling_team'])['bowlers'].apply(list)

In [5]:
pd.concat([bat_df,bow_df,Runs_off_Bat_6_overs,Extras_6_overs,TotalScore_6_overs,Total_WktsDown],axis=1).to_csv('test.csv')

In [6]:
df = pd.read_csv('test.csv')
df.head()

,match_id,venue,innings,batting_team,bowling_team,batsmen,bowlers,runs_off_bat,extras,Total_score,player_dismissed
0,335982,M Chinnaswamy Stadium,1,KKR,RCB,"['SC Ganguly', 'BB McCullum', 'BB McCullum', '...","['P Kumar', 'P Kumar', 'P Kumar', 'P Kumar', '...",51,10,61,1
1,335982,M Chinnaswamy Stadium,2,RCB,KKR,"['R Dravid', 'W Jaffer', 'W Jaffer', 'W Jaffer...","['AB Dinda', 'AB Dinda', 'AB Dinda', 'AB Dinda...",19,7,26,4
2,335983,"Punjab Cricket Association Stadium, Mohali",1,CSK,KXIP,"['PA Patel', 'PA Patel', 'PA Patel', 'ML Hayde...","['B Lee', 'B Lee', 'B Lee', 'B Lee', 'B Lee', ...",50,3,53,1
3,335983,"Punjab Cricket Association Stadium, Mohali",2,KXIP,CSK,"['K Goel', 'K Goel', 'K Goel', 'K Goel', 'JR H...","['JDP Oram', 'JDP Oram', 'JDP Oram', 'JDP Oram...",61,2,63,1
4,335984,Feroz Shah Kotla,1,RR,DC,"['T Kohli', 'T Kohli', 'T Kohli', 'T Kohli', '...","['GD McGrath', 'GD McGrath', 'GD McGrath', 'GD...",38,2,40,2

In [7]:
bat  = pd.DataFrame(np.zeros((df.shape[0],10),dtype=float),columns=['bat1', 'bat2', 'bat3', 'bat4', 'bat5', 'bat6', 'bat7', 'bat8', 'bat9', 'bat10'])
bowl = pd.DataFrame(np.zeros((df.shape[0],6),dtype=float),columns=['bow1', 'bow2', 'bow3', 'bow4', 'bow5', 'bow6'])

columns = ['bat1', 'bat2', 'bat3', 'bat4', 'bat5', 'bat6', 'bat7', 'bat8', 'bat9', 'bat10','bow1', 'bow2', 'bow3', 'bow4', 'bow5', 'bow6']
df_bat_bow = pd.concat([bat,bowl],axis=1)
df_bat_bow

,bat1,bat2,bat3,bat4,bat5,bat6,bat7,bat8,bat9,bat10,bow1,bow2,bow3,bow4,bow5,bow6
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1396,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1397,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1398,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1399,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1400,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [8]:
pd.concat([df,df_bat_bow],axis=1).to_csv('test.csv',index=False)

In [9]:
df = pd.read_csv('test.csv')
os.remove('test.csv')
df.head()

,match_id,venue,innings,batting_team,bowling_team,batsmen,bowlers,runs_off_bat,extras,Total_score,...,bat7,bat8,bat9,bat10,bow1,bow2,bow3,bow4,bow5,bow6
0,335982,M Chinnaswamy Stadium,1,KKR,RCB,"['SC Ganguly', 'BB McCullum', 'BB McCullum', '...","['P Kumar', 'P Kumar', 'P Kumar', 'P Kumar', '...",51,10,61,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,335982,M Chinnaswamy Stadium,2,RCB,KKR,"['R Dravid', 'W Jaffer', 'W Jaffer', 'W Jaffer...","['AB Dinda', 'AB Dinda', 'AB Dinda', 'AB Dinda...",19,7,26,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,335983,"Punjab Cricket Association Stadium, Mohali",1,CSK,KXIP,"['PA Patel', 'PA Patel', 'PA Patel', 'ML Hayde...","['B Lee', 'B Lee', 'B Lee', 'B Lee', 'B Lee', ...",50,3,53,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,335983,"Punjab Cricket Association Stadium, Mohali",2,KXIP,CSK,"['K Goel', 'K Goel', 'K Goel', 'K Goel', 'JR H...","['JDP Oram', 'JDP Oram', 'JDP Oram', 'JDP Oram...",61,2,63,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,335984,Feroz Shah Kotla,1,RR,DC,"['T Kohli', 'T Kohli', 'T Kohli', 'T Kohli', '...","['GD McGrath', 'GD McGrath', 'GD McGrath', 'GD...",38,2,40,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [10]:
for row,val in enumerate(df.batsmen):
    tmp = val[1:-1].split(', ')
    tmp_list = list(map(lambda x : x.strip("'"),tmp))
    tmp_list = list(OrderedDict.fromkeys(tmp_list))
    for i,j in enumerate(list(map(lambda x : x.strip("'"),tmp_list))):
        col = "bat%i"%(i+1)
        df[col][row] = j

<ipython-input-10-546d063ed2a4>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col][row] = j
C:\Users\skanukollu\AppData\Local\Programs\Python\Python38\lib\site-packages\pandas\core\indexing.py:1636: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [11]:
for row,val in enumerate(df.bowlers):
    tmp = val[1:-1].split(', ')
    tmp_list = list(map(lambda x : x.strip("'"),tmp))
    tmp_list = list(OrderedDict.fromkeys(tmp_list))
    for i,j in enumerate(list(map(lambda x : x.strip("'"),tmp_list))):
        col = "bow%i"%(i+1)
        df[col][row] = j

<ipython-input-11-247dc14cd009>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col][row] = j

In [12]:
df.to_csv('2_formated_Dataset.csv',index=False)

In [13]:
df = pd.read_csv('2_formated_Dataset.csv')

In [14]:
df.head()

,match_id,venue,innings,batting_team,bowling_team,batsmen,bowlers,runs_off_bat,extras,Total_score,...,bat7,bat8,bat9,bat10,bow1,bow2,bow3,bow4,bow5,bow6
0,335982,M Chinnaswamy Stadium,1,KKR,RCB,"['SC Ganguly', 'BB McCullum', 'BB McCullum', '...","['P Kumar', 'P Kumar', 'P Kumar', 'P Kumar', '...",51,10,61,...,0.0,0.0,0.0,0.0,P Kumar,Z Khan,AA Noffke,0.0,0.0,0.0
1,335982,M Chinnaswamy Stadium,2,RCB,KKR,"['R Dravid', 'W Jaffer', 'W Jaffer', 'W Jaffer...","['AB Dinda', 'AB Dinda', 'AB Dinda', 'AB Dinda...",19,7,26,...,0.0,0.0,0.0,0.0,AB Dinda,I Sharma,AB Agarkar,0.0,0.0,0.0
2,335983,"Punjab Cricket Association Stadium, Mohali",1,CSK,KXIP,"['PA Patel', 'PA Patel', 'PA Patel', 'ML Hayde...","['B Lee', 'B Lee', 'B Lee', 'B Lee', 'B Lee', ...",50,3,53,...,0.0,0.0,0.0,0.0,B Lee,S Sreesanth,JR Hopes,0.0,0.0,0.0
3,335983,"Punjab Cricket Association Stadium, Mohali",2,KXIP,CSK,"['K Goel', 'K Goel', 'K Goel', 'K Goel', 'JR H...","['JDP Oram', 'JDP Oram', 'JDP Oram', 'JDP Oram...",61,2,63,...,0.0,0.0,0.0,0.0,JDP Oram,MS Gony,0.0,0.0,0.0,0.0
4,335984,Feroz Shah Kotla,1,RR,DC,"['T Kohli', 'T Kohli', 'T Kohli', 'T Kohli', '...","['GD McGrath', 'GD McGrath', 'GD McGrath', 'GD...",38,2,40,...,0.0,0.0,0.0,0.0,GD McGrath,B Geeves,MF Maharoof,0.0,0.0,0.0